.board {
  height: 456px;
  width: 456px;
  border: 1px black solid;
  display: flex;
  flex-wrap: wrap;
}
.square {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  font-size: 5em;
  font-weight: bold;
}
.square:hover {
  background-color: aqua;
}
